/*Global Body Styling */

body {
  background-color: black;
}

/*Body Container Styling */

@media (min-width: 1200px) {
  .container {
    max-width: 1870px;
    min-height: 800px;
  }
}

.orangeFont {
  color: #ff8f44;
}

.container {
  display: block;
}

section {
  background-color: #ff8f44;
}
h5 {
  color: white;
}

hr {
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.sameLine {
  display: inline;
}

.purchaseButton {
  background-color: #ff8f44;
  border: 2px solid #ff8f44;
}

section {
  margin-left: 10px;
  margin-right: 10px;
}

/*NavBar Styling */

.navbar {
  background-color: #6e8092;
}

.navbar-nav {
  padding-right: 5%;
  margin-left: 1%;
}

.btn:hover {
  background-color: rgb(180, 184, 187);
  color: white;
}

.btn {
  margin: 2px;
}
