html {
  background-color: black;
}

.mainBody {
  background-color: black;
}

body {
  background-color: black;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1870px;
    min-height: 800px;
  }
}

.orangeFont {
  color: orange;
}

.card {
  background-color: orange;
}

.navbar {
  background-color: #6e8092;
}
