html {
  background-color: black;
}

.mainBody {
  background-color: black;
}

body {
  background-color: black;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1870px;
    min-height: 800px;
  }
}

.orangeFont {
  color: #ff8f44;
}

.card {
  background-color: #ff8f44;
}

.navbar {
  background-color: #6e8092;
}

.container {
  display: block;
}

section {
  background-color: #ff8f44;
}
h5 {
  color: white;
}
hr {
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.sameLine {
  display: inline;
}
